<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{ui/layouts/main_layout}"
      >
<head>
    <title>메인</title>
</head>
<body layout:fragment="content">
    <div class="container">

        <!-- 채팅방 목록 -->
        <div class="chat-list">
            <!-- 채팅방 카드 -->
            <div class="room-card">
                <!-- 제목 -->
                <div class="title"><h1>방 제목</h1></div>
                <!-- 가운데 -->
                <div class="center">
                    <span class="material-icons">person</span>
                    <span>10</span>
                </div>
                <!-- 하단 -->
                <div class="bottom">
                    <a th:href="|/chat/100|" class="btn-lg">들어가기</a>
                </div>
            </div>
            
            <!-- 채팅방 카드 -->
            <div class="room-card">
                <!-- 제목 -->
                <div class="title"><h1>방 제목</h1></div>
                <!-- 가운데 -->
                <div class="center">
                    <span class="material-icons">person</span>
                    <span>10</span>
                </div>
                <!-- 하단 -->
                <div class="bottom">
                    <a href="" class="btn-lg">들어가기</a>
                </div>
            </div>
            <!-- 채팅방 카드 -->
            <div class="room-card">
                <!-- 제목 -->
                <div class="title"><h1>방 제목</h1></div>
                <!-- 가운데 -->
                <div class="center">
                    <span class="material-icons">person</span>
                    <span>10</span>
                </div>
                <!-- 하단 -->
                <div class="bottom">
                    <a href="" class="btn-lg">들어가기</a>
                </div>
            </div>
            <!-- 채팅방 카드 -->
            <div class="room-card">
                <!-- 제목 -->
                <div class="title"><h1>방 제목</h1></div>
                <!-- 가운데 -->
                <div class="center">
                    <span class="material-icons">person</span>
                    <span>10</span>
                </div>
                <!-- 하단 -->
                <div class="bottom">
                    <a href="" class="btn-lg">들어가기</a>
                </div>
            </div>
            <!-- 채팅방 카드 -->
            <div class="room-card">
                <!-- 제목 -->
                <div class="title"><h1>방 제목</h1></div>
                <!-- 가운데 -->
                <div class="center">
                    <span class="material-icons">person</span>
                    <span>10</span>
                </div>
                <!-- 하단 -->
                <div class="bottom">
                    <a href="" class="btn-lg">들어가기</a>
                </div>
            </div>
            <!-- 채팅방 카드 -->
            <div class="room-card">
                <!-- 제목 -->
                <div class="title"><h1>방 제목</h1></div>
                <!-- 가운데 -->
                <div class="center">
                    <span class="material-icons">person</span>
                    <span>10</span>
                </div>
                <!-- 하단 -->
                <div class="bottom">
                    <a href="" class="btn-lg">들어가기</a>
                </div>
            </div>

        </div>

        <!-- 페이지네이션 -->
        <div class="pagination">
            <a href="" class="btn">
                <i class="material-icons">chevron_left</i>
            </a>
            <a href="" class="btn">1</a>
            <span>/</span>
            <a href="" class="btn">10</a>
            <a href="" class="btn">
                <i class="material-icons">chevron_right</i>
            </a>
        </div>


    </div>
</body>
</html>