<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aloha.simplechat.mapper.ChatRoomMapper">

    <!-- 기본 등록 -->
    <insert id="insert">
        INSERT INTO chat_room ( id, name, session_id ) VALUES ( #{id}, #{name}, #{sessionId} )
    </insert>

    <!-- 기본 조회 -->
    <select id="select" resultType="ChatRoom">
        SELECT * FROM chat_room WHERE no = #{no}
    </select>

    <!-- 기본 조회 -->
    <select id="selectById" resultType="ChatRoom">
        SELECT * FROM chat_room WHERE id = #{id}
    </select>

    <!-- 기본 수정 -->
    <update id="update">
        UPDATE chat_room
        <set>
            updated_at = now(),
            <if test="name != null">
                name = #{name},
            </if>
            <if test="sessionId != null">
                session_id = #{sessionId},
            </if>
            <if test="userCount != null">
                user_count = #{userCount},
            </if>
        </set>
        WHERE no = #{no}
    </update>

    <!-- 기본 수정 -->
    <update id="updateById">
        UPDATE chat_room
        <set>
            updated_at = now(),
            <if test="name != null">
                name = #{name},
            </if>
            <if test="sessionId != null">
                session_id = #{sessionId},
            </if>
            <if test="userCount != null">
                user_count = #{userCount},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <!-- 기본 삭제 -->
    <delete id="delete">
        DELETE FROM chat_room 
        WHERE no = #{no}
    </delete>

    <!-- 기본 삭제 -->
    <delete id="deleteById">
        DELETE FROM chat_room 
        WHERE id = #{id}
    </delete>

    <!-- 전체 조회 -->
    <select id="list" resultType="ChatRoom">
        SELECT * 
        FROM chat_room
        ORDER BY no DESC

    </select>
    
</mapper>
