<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aloha.simplechat.mapper.ChatMessageMapper">

    <!-- 기본 등록 -->
    <insert id="insert">
        INSERT INTO chat_message ( id, chat_room_no, session_id, sender, content  ) 
        VALUES ( #{id}, #{chatRoomNo}, #{sessionId}, #{sender}, #{content} )
    </insert>

    <!-- 기본 조회 -->
    <select id="select" resultType="Sample">
        SELECT * FROM chat_message WHERE name = #{name}
    </select>

    <!-- 기본 수정 -->
    <update id="update">
        UPDATE chat_message
           SET name = #{name},
               value = #{value}
        WHERE name = #{name}
    </update>

    <!-- 기본 삭제 -->
    <delete id="delete">
        DELETE FROM chat_message WHERE name = #{name}
    </delete>

    <select id="listByRoomNo" resultType="ChatMessage">
        SELECT * FROM chat_message WHERE chat_room_no = #{chatRoomNo}
    </select>
    
</mapper>
